.orderDetails {
  background-color: #f5f5f5;
  border-radius: 1.6rem;
  padding: 3.2rem;
  width: 100%;
}

.orderTitle {
  font-size: 2.4rem;
  font-weight: 700;
  color: #282828;
  margin-bottom: 1.6rem;
}

.itemsCount {
  font-size: 1.8rem;
  color: #8b8b8b;
  margin-bottom: 0.8rem;
}

.totalRow {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  margin-bottom: 2.4rem;
}

.totalLabel {
  font-size: 1.8rem;
  color: #8b8b8b;
}

.totalPrice {
  font-size: 3.2rem;
  font-weight: 700;
  color: #282828;
}

.orderForm {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.orderForm input {
  padding: 1.6rem 3.2rem;
  border: 1px solid #dddddd;
  border-radius: 0.8rem;
  font-size: 1.6rem;
  background: white;
}

.orderBtn {
  padding: 1.6rem;
  background-color: #0d50ff;
  color: white;
  border: none;
  border-radius: 0.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 0.8rem;
}

.orderBtn:hover {
  background-color: #0a40cc;
}

.customInput {
  color: #282828;
}

.customInput::placeholder {
  color: #8B8B8B;
  font-size: 2rem;
  line-height: 1.3;
}

.errorMessage {
  color: red;
  font-size: 1.2rem;
  margin-top: 0.4rem;
}