.discountFilter {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  margin-top: 4rem;
}

.discountFilterTitle {
  font-size: 2rem;
  font-weight: 600;
}

.checkboxWrapper {
  cursor: pointer;
  display: flex;
}

.hiddenCheckbox {
  display: none;
}

.customCheckbox {
  width: 4.4rem;
  height: 4.4rem;
  border: 2px solid #dddddd;
  border-radius: 0.8rem;
  transition: all 0.2s;
}

.hiddenCheckbox:checked + .customCheckbox {
  background-color: #0d50ff;
  border-color: #0d50ff;
  background-image: url("../../../assets//icons//check.svg");
  background-repeat: no-repeat;
  background-position: center;
}