.container {
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.6rem;
  padding: 4rem 0;
}

.cartHeader {
  display: flex;
  align-items: center;
}

.line {
  flex: 1;
  height: 1px;
  background-color: #dddddd;
}

.emptyCart {
  margin-top: 3.2rem;
}

.emptyText {
  font-size: 1.8rem;
  color: #282828;
  margin-bottom: 2.4rem;
}

.cartLayout {
  display: grid;
  grid-template-columns: 1fr 40rem;
  gap: 3.2rem;
  margin-top: 3.2rem;
  align-items: start;
}

@media (max-width: 768px) {
  .cartLayout {
    grid-template-columns: 1fr;
  }
}