.container {
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.6rem;
}

.categoriesWrapper {
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line {
  height: 1px;
  flex: 1;
  background-color: #e5e7eb;
}

.cartLayout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.2rem;

  @media (max-width: 968px) {
    grid-template-columns: 1fr;
  }
}

.cartItems {
  width: 100%;
  margin-bottom: 1.6rem;
}

.cart {
  padding: 8rem 0;
}