.linkButton {
  background-color: transparent;
  border: 1px solid #DDDDDD;
  color: #8B8B8B;
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.linkButton:hover {
  background-color: #F1F3F4;
}

.linkButton.active{
  color: #282828;
}