.discountFormInputs {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 3.2rem;
}

.errorMessage {
  color: #fff;
  background-color: rgba(255, 0 , 0, 0.5);
  font-size: 1.6rem;
  padding: 0.4rem 0.4rem;
}

