.customInput {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 1.6rem 3.2rem;
  border-radius: 0.4rem;
  width: 100%;
}

.customInput::placeholder{
  font-size: 2rem;
  color: #fff;
}